In [1]:
import pandas as pd
import numpy as np
import sys
import collections

In [2]:
r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('u.data', sep = '\t', names = r_cols, usecols = range(3))

##seperator t
## names  - name of the columns
##usecols = we want to get the first 3 columns of the dataframe
# header = None id we do not want header

In [3]:
ratings.head()

   user_id  movie_id  rating
0        0        50       5
1        0       172       5
2        0       133       1
3      196       242       3
4      186       302       3

In [4]:
import nltk
m_cols = ['movie_id', 'title']
item = pd.read_csv('u.item', sep = '|', encoding='iso-8859-1', names = m_cols, usecols = range(2))

#delimiter |
#search for encoding error in google, usually utf-8

In [5]:
item.head()

   movie_id              title
0         1   Toy Story (1995)
1         2   GoldenEye (1995)
2         3  Four Rooms (1995)
3         4  Get Shorty (1995)
4         5     Copycat (1995)

In [6]:
item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 2 columns):
movie_id    1682 non-null int64
title       1682 non-null object
dtypes: int64(1), object(1)
memory usage: 26.4+ KB

In [7]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100003 entries, 0 to 100002
Data columns (total 3 columns):
user_id     100003 non-null int64
movie_id    100003 non-null int64
rating      100003 non-null int64
dtypes: int64(3)
memory usage: 2.3 MB

In [8]:
ratings = pd.merge(item,ratings, on = 'movie_id' )

In [22]:
ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

In [28]:
movieratings = ratings.pivot_table(index = 'user_id', columns = ['title'], values = 'rating')

In [29]:
movieratings.head()
#sparse matrix

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Let's extract a series of users who rated Star Wars

In [36]:
type(movieratings['Star Wars (1977)'])

pandas.core.series.Series

In [39]:
starwarsratings = pd.DataFrame(movieratings['Star Wars (1977)'])

In [40]:
starwarsratings.head()

         Star Wars (1977)
user_id
0                     5.0
1                     5.0
2                     5.0
3                     NaN
4                     5.0

In [41]:
type(starwarsratings)

pandas.core.frame.DataFrame

In [47]:
starwars = movieratings['Star Wars (1977)']

In [52]:
type(starwars)

pandas.core.series.Series

In [48]:
starwars.value_counts(dropna = False)
#only in series, cannot use value_counts from dataframe

NaN     360
 5.0    326
 4.0    176
 3.0     57
 2.0     16
 1.0      9
Name: Star Wars (1977), dtype: int64

In [49]:
movieratings[['101 Dalmatians (1996)', 'Star Wars (1977)']].corr()

#how is 101 corr based in ratings with starwars

title                  101 Dalmatians (1996)  Star Wars (1977)
title
101 Dalmatians (1996)               1.000000          0.211132
Star Wars (1977)                    0.211132          1.000000

In [51]:
# corr with, 2 dataframes and find correlation

movieratings.corrwith(starwars)

/Users/jedvillareal/anaconda3/lib/python3.6/site-packages/numpy/lib/function_base.py:3175: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/Users/jedvillareal/anaconda3/lib/python3.6/site-packages/numpy/lib/function_base.py:3109: RuntimeWarning: divide by zero encountered in double_scalars
  c *= 1. / np.float64(fact)

title
'Til There Was You (1997)                                   0.872872
1-900 (1994)                                               -0.645497
101 Dalmatians (1996)                                       0.211132
12 Angry Men (1957)                                         0.184289
187 (1997)                                                  0.027398
2 Days in the Valley (1996)                                 0.066654
20,000 Leagues Under the Sea (1954)                         0.289768
2001: A Space Odyssey (1968)                                0.230884
3 Ninjas: High Noon At Mega Mountain (1998)                      NaN
39 Steps, The (1935)                                        0.106453
8 1/2 (1963)                                               -0.142977
8 Heads in a Duffel Bag (1997)                             -0.577350
8 Seconds (1994)                                           -0.755929
A Chef in Love (1996)                                       0.868599
Above the Rim (1994)                                       -0.645497
Absolute Power (1997)                                       0.085440
Abyss, The (1989)                                           0.203709
Ace Ventura: Pet Detective (1994)                           0.062689
Ace Ventura: When Nature Calls (1995)                       0.094514
Across the Sea of Time (1995)                              -0.132453
Addams Family Values (1993)                                 0.132264
Addicted to Love (1997)                                     0.028173
Addiction, The (1995)                                       0.507093
Adventures of Pinocchio, The (1996)                         0.111616
Adventures of Priscilla, Queen of the Desert, The (1994)    0.054740
Adventures of Robin Hood, The (1938)                        0.144587
Affair to Remember, An (1957)                               0.225451
African Queen, The (1951)                                   0.230540
Afterglow (1997)                                            0.420084
Age of Innocence, The (1993)                               -0.037176
                                                              ...
Window to Paris (1994)                                           NaN
Wings of Courage (1995)                                          NaN
Wings of Desire (1987)                                     -0.104771
Wings of the Dove, The (1997)                               0.000000
Winnie the Pooh and the Blustery Day (1968)                 0.142924
Winter Guest, The (1997)                                    0.353553
Wishmaster (1997)                                          -0.066932
With Honors (1994)                                         -0.111205
Withnail and I (1987)                                       0.083045
Witness (1985)                                                   NaN
Wizard of Oz, The (1939)                                    0.266335
Wolf (1994)                                                 0.113214
Woman in Question, The (1950)                                    NaN
Women, The (1939)                                          -0.175608
Wonderful, Horrible Life of Leni Riefenstahl, The (1993)    0.707107
Wonderland (1997)                                                NaN
Wooden Man's Bride, The (Wu Kui) (1994)                          NaN
World of Apu, The (Apur Sansar) (1959)                     -0.522233
Wrong Trousers, The (1993)                                  0.216204
Wyatt Earp (1994)                                           0.059560
Yankee Zulu (1994)                                               NaN
Year of the Horse (1997)                                   -1.000000
You So Crazy (1994)                                              NaN
Young Frankenstein (1974)                                   0.192589
Young Guns (1988)                                           0.186377
Young Guns II (1990)                                        0.228615
Young Poisoner's Handbook, The (1995)                      -0.007374
Zeus and Roxanne (1997)                                     0.818182
unknown                                                     0.723123
Á köldum klaka (Cold Fever) (1994)                               NaN
Length: 1664, dtype: float64

In [55]:
similarmovies = movieratings.corrwith(starwars)
similarmovies  = similarmovies.dropna()
similarmovies

/Users/jedvillareal/anaconda3/lib/python3.6/site-packages/numpy/lib/function_base.py:3175: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/Users/jedvillareal/anaconda3/lib/python3.6/site-packages/numpy/lib/function_base.py:3109: RuntimeWarning: divide by zero encountered in double_scalars
  c *= 1. / np.float64(fact)

title
'Til There Was You (1997)                                   0.872872
1-900 (1994)                                               -0.645497
101 Dalmatians (1996)                                       0.211132
12 Angry Men (1957)                                         0.184289
187 (1997)                                                  0.027398
2 Days in the Valley (1996)                                 0.066654
20,000 Leagues Under the Sea (1954)                         0.289768
2001: A Space Odyssey (1968)                                0.230884
39 Steps, The (1935)                                        0.106453
8 1/2 (1963)                                               -0.142977
8 Heads in a Duffel Bag (1997)                             -0.577350
8 Seconds (1994)                                           -0.755929
A Chef in Love (1996)                                       0.868599
Above the Rim (1994)                                       -0.645497
Absolute Power (1997)                                       0.085440
Abyss, The (1989)                                           0.203709
Ace Ventura: Pet Detective (1994)                           0.062689
Ace Ventura: When Nature Calls (1995)                       0.094514
Across the Sea of Time (1995)                              -0.132453
Addams Family Values (1993)                                 0.132264
Addicted to Love (1997)                                     0.028173
Addiction, The (1995)                                       0.507093
Adventures of Pinocchio, The (1996)                         0.111616
Adventures of Priscilla, Queen of the Desert, The (1994)    0.054740
Adventures of Robin Hood, The (1938)                        0.144587
Affair to Remember, An (1957)                               0.225451
African Queen, The (1951)                                   0.230540
Afterglow (1997)                                            0.420084
Age of Innocence, The (1993)                               -0.037176
Air Bud (1997)                                              0.012557
                                                              ...
Whole Wide World, The (1996)                                0.000000
Widows' Peak (1994)                                         0.136743
Wild America (1997)                                         0.040656
Wild Bill (1995)                                           -0.286299
Wild Bunch, The (1969)                                     -0.041299
Wild Reeds (1994)                                          -0.377964
Wild Things (1998)                                         -0.259437
William Shakespeare's Romeo and Juliet (1996)               0.098861
Willy Wonka and the Chocolate Factory (1971)                0.221902
Wings of Desire (1987)                                     -0.104771
Wings of the Dove, The (1997)                               0.000000
Winnie the Pooh and the Blustery Day (1968)                 0.142924
Winter Guest, The (1997)                                    0.353553
Wishmaster (1997)                                          -0.066932
With Honors (1994)                                         -0.111205
Withnail and I (1987)                                       0.083045
Wizard of Oz, The (1939)                                    0.266335
Wolf (1994)                                                 0.113214
Women, The (1939)                                          -0.175608
Wonderful, Horrible Life of Leni Riefenstahl, The (1993)    0.707107
World of Apu, The (Apur Sansar) (1959)                     -0.522233
Wrong Trousers, The (1993)                                  0.216204
Wyatt Earp (1994)                                           0.059560
Year of the Horse (1997)                                   -1.000000
Young Frankenstein (1974)                                   0.192589
Young Guns (1988)                                           0.186377
Young Guns II (1990)                                        0.228615
Young Poisoner's Handbook, The (1995)                      -0.007374
Zeus and Roxanne (1997)                                     0.818182
unknown                                                     0.723123
Length: 1410, dtype: float64

In [57]:
similarmovies  = similarmovies.sort_values(ascending = False)
similarmovies

#title is index

title
Hollow Reed (1996)                                                                   1.000000
Man of the Year (1995)                                                               1.000000
Star Wars (1977)                                                                     1.000000
Stripes (1981)                                                                       1.000000
Safe Passage (1994)                                                                  1.000000
Good Man in Africa, A (1994)                                                         1.000000
Mondo (1996)                                                                         1.000000
Line King: Al Hirschfeld, The (1996)                                                 1.000000
Beans of Egypt, Maine, The (1994)                                                    1.000000
Twisted (1996)                                                                       1.000000
Outlaw, The (1943)                                                                   1.000000
Hurricane Streets (1998)                                                             1.000000
Scarlet Letter, The (1926)                                                           1.000000
Ed's Next Move (1996)                                                                1.000000
Old Lady Who Walked in the Sea, The (Vieille qui marchait dans la mer, La) (1991)    1.000000
Golden Earrings (1947)                                                               1.000000
Full Speed (1996)                                                                    1.000000
No Escape (1994)                                                                     1.000000
Cosi (1996)                                                                          1.000000
Commandments (1997)                                                                  1.000000
Maya Lin: A Strong Clear Vision (1994)                                               1.000000
Last Time I Saw Paris, The (1954)                                                    1.000000
Designated Mourner, The (1997)                                                       0.970725
Albino Alligator (1996)                                                              0.968496
Angel Baby (1995)                                                                    0.962250
Prisoner of the Mountains (Kavkazsky Plennik) (1996)                                 0.927173
Love in the Afternoon (1957)                                                         0.923381
'Til There Was You (1997)                                                            0.872872
A Chef in Love (1996)                                                                0.868599
Substance of Fire, The (1996)                                                        0.866025
                                                                                       ...
Show, The (1995)                                                                    -1.000000
Sliding Doors (1998)                                                                -1.000000
Tough and Deadly (1995)                                                             -1.000000
Lover's Knot (1996)                                                                 -1.000000
Slingshot, The (1993)                                                               -1.000000
Glass Shield, The (1994)                                                            -1.000000
Squeeze (1996)                                                                      -1.000000
Neon Bible, The (1995)                                                              -1.000000
S.F.W. (1994)                                                                       -1.000000
Dream Man (1995)                                                                    -1.000000
Collectionneuse, La (1967)                                                          -1.000000
Year of the Horse (1997)                                                            -1.000000
Lamerica (1994)                                                                     -1.000000
Pushing Hands (1992)                                                                -1.000000
Legal Deceit (1997)                                                                 -1.000000
Joy Luck Club, The (1993)                                                           -1.000000
Bewegte Mann, Der (1994)                                                            -1.000000
To Have, or Not (1995)                                                              -1.000000
Salut cousin! (1996)                                                                -1.000000
I Like It Like That (1994)                                                          -1.000000
Theodore Rex (1995)                                                                 -1.000000
Fille seule, La (A Single Girl) (1995)                                              -1.000000
Two Deaths (1995)                                                                   -1.000000
American Dream (1990)                                                               -1.000000
Roseanna's Grave (For Roseanna) (1997)                                              -1.000000
Swept from the Sea (1997)                                                           -1.000000
For Ever Mozart (1996)                                                              -1.000000
Love and Death on Long Island (1997)                                                -1.000000
Crossfire (1947)                                                                    -1.000000
Frankie Starlight (1995)                                                            -1.000000
Length: 1410, dtype: float64

In [63]:
similarmovies.index

Index(['Hollow Reed (1996)', 'Man of the Year (1995)', 'Star Wars (1977)',
       'Stripes (1981)', 'Safe Passage (1994)', 'Good Man in Africa, A (1994)',
       'Mondo (1996)', 'Line King: Al Hirschfeld, The (1996)',
       'Beans of Egypt, Maine, The (1994)', 'Twisted (1996)',
       ...
       'Theodore Rex (1995)', 'Fille seule, La (A Single Girl) (1995)',
       'Two Deaths (1995)', 'American Dream (1990)',
       'Roseanna's Grave (For Roseanna) (1997)', 'Swept from the Sea (1997)',
       'For Ever Mozart (1996)', 'Love and Death on Long Island (1997)',
       'Crossfire (1947)', 'Frankie Starlight (1995)'],
      dtype='object', name='title', length=1410)

In [60]:
moviestats = ratings.groupby('title').agg({'rating': [np.size, np.mean]})
moviestats.head()

                          rating
                            size      mean
title
'Til There Was You (1997)      9  2.333333
1-900 (1994)                   5  2.600000
101 Dalmatians (1996)        109  2.908257
12 Angry Men (1957)          125  4.344000
187 (1997)                    41  3.024390

# Some movies have been rated by only a few people so let's filter the result for movies which have greater than 100 reviews

In [61]:
popularmovies = moviestats[moviestats['rating','size'] >= 100]

In [62]:
popularmovies.sort_values(('rating','mean'), ascending = False)

                                                   rating
                                                     size      mean
title
Close Shave, A (1995)                                 112  4.491071
Schindler's List (1993)                               298  4.466443
Wrong Trousers, The (1993)                            118  4.466102
Casablanca (1942)                                     243  4.456790
Shawshank Redemption, The (1994)                      283  4.445230
Rear Window (1954)                                    209  4.387560
Usual Suspects, The (1995)                            267  4.385768
Star Wars (1977)                                      584  4.359589
12 Angry Men (1957)                                   125  4.344000
Citizen Kane (1941)                                   198  4.292929
To Kill a Mockingbird (1962)                          219  4.292237
One Flew Over the Cuckoo's Nest (1975)                264  4.291667
Silence of the Lambs, The (1991)                      390  4.289744
North by Northwest (1959)                             179  4.284916
Godfather, The (1972)                                 413  4.283293
Secrets & Lies (1996)                                 162  4.265432
Good Will Hunting (1997)                              198  4.262626
Manchurian Candidate, The (1962)                      131  4.259542
Dr. Strangelove or: How I Learned to Stop Worry...    194  4.252577
Raiders of the Lost Ark (1981)                        420  4.252381
Vertigo (1958)                                        179  4.251397
Titanic (1997)                                        350  4.245714
Lawrence of Arabia (1962)                             173  4.231214
Maltese Falcon, The (1941)                            138  4.210145
Empire Strikes Back, The (1980)                       368  4.206522
Boot, Das (1981)                                      201  4.203980
Sling Blade (1996)                                    136  4.198529
As Good As It Gets (1997)                             112  4.196429
Godfather: Part II, The (1974)                        209  4.186603
African Queen, The (1951)                             152  4.184211
...                                                   ...       ...
Ace Ventura: Pet Detective (1994)                     103  3.048544
Conan the Barbarian (1981)                            107  3.046729
Grumpier Old Men (1995)                               148  3.040541
Star Trek: The Motion Picture (1979)                  117  3.034188
Broken Arrow (1996)                                   254  3.031496
First Wives Club, The (1996)                          160  3.018750
Net, The (1995)                                       120  3.008333
Evita (1996)                                          259  2.980695
Natural Born Killers (1994)                           128  2.953125
Lost World: Jurassic Park, The (1997)                 158  2.943038
Dante's Peak (1997)                                   240  2.933333
Nutty Professor, The (1996)                           163  2.914110
101 Dalmatians (1996)                                 109  2.908257
Father of the Bride Part II (1995)                    128  2.898438
Mars Attacks! (1996)                                  217  2.847926
Multiplicity (1996)                                   134  2.835821
Alien 3 (1992)                                        100  2.830000
Volcano (1997)                                        219  2.808219
Waterworld (1995)                                     102  2.803922
Beavis and Butt-head Do America (1996)                156  2.788462
Mimic (1997)                                          101  2.742574
Down Periscope (1996)                                 101  2.702970
George of the Jungle (1997)                           162  2.685185
Batman Returns (1992)                                 142  2.683099
Batman Forever (1995)                                 114  2.666667
Spawn (1997)                                          143  2.615385
Event Horizon (1997)                                  127  2.574803
Crash (1996)                                          128  2.546875
Jungle2Jungle (1997)                                  132  2.439394
Cable Guy, The (1996)                                 106  2.339623

[338 rows x 2 columns]

In [66]:
len(similarmovies),len(popularmovies)

(1410, 338)

In [67]:
#joining index, similar titles, left join, similar is the corr

df = popularmovies.join(pd.DataFrame(similarmovies, columns = ['similar']))

/Users/jedvillareal/anaconda3/lib/python3.6/site-packages/pandas/core/reshape/merge.py:558: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [68]:
df.head()

                              (rating, size)  (rating, mean)   similar
title
101 Dalmatians (1996)                    109        2.908257  0.211132
12 Angry Men (1957)                      125        4.344000  0.184289
2001: A Space Odyssey (1968)             259        3.969112  0.230884
Absolute Power (1997)                    127        3.370079  0.085440
Abyss, The (1989)                        151        3.589404  0.203709

In [69]:
len(df)

338

In [70]:
df.sort_values('similar', ascending = False)

,"(rating, size)","(rating, mean)",similar
title,,,
Star Wars (1977),584,4.359589,1.000000
"Empire Strikes Back, The (1980)",368,4.206522,0.748353
Return of the Jedi (1983),507,4.007890,0.672556
Raiders of the Lost Ark (1981),420,4.252381,0.536117
Austin Powers: International Man of Mystery (1997),130,3.246154,0.377433
"Sting, The (1973)",241,4.058091,0.367538
Indiana Jones and the Last Crusade (1989),331,3.930514,0.350107
Pinocchio (1940),101,3.673267,0.347868
"Frighteners, The (1996)",115,3.234783,0.332729
L.A. Confidential (1997),297,4.161616,0.319065
Wag the Dog (1997),137,3.510949,0.318645
Dumbo (1941),123,3.495935,0.317656
"Bridge on the River Kwai, The (1957)",165,4.175758,0.316580
"Philadelphia Story, The (1940)",104,4.115385,0.314272
Miracle on 34th Street (1994),101,3.722772,0.310921
E.T. the Extra-Terrestrial (1982),300,3.833333,0.303619
Mystery Science Theater 3000: The Movie (1996),130,3.430769,0.301809
Cinderella (1950),129,3.581395,0.299163
Batman (1989),201,3.427861,0.289344
Swingers (1996),157,3.828025,0.289310
Field of Dreams (1989),212,3.698113,0.285286
Gattaca (1997),136,3.595588,0.283005
Star Trek: The Wrath of Khan (1982),244,3.815574,0.282206
Back to the Future (1985),350,3.834286,0.274839
Snow White and the Seven Dwarfs (1937),172,3.709302,0.270346
"Wizard of Oz, The (1939)",246,4.077236,0.266335
"Firm, The (1993)",151,3.278146,0.265878
Jaws (1975),280,3.775000,0.265459
Beautiful Girls (1996),115,3.391304,0.265301
"Terminator, The (1984)",301,3.933555,0.262255
...,...,...,...
"Ice Storm, The (1997)",108,3.611111,-0.023698
Carrie (1976),121,3.504132,-0.028377
Dead Man Walking (1995),299,3.896321,-0.034158
Ransom (1996),267,3.644195,-0.035184
Raging Bull (1980),116,4.120690,-0.035647
Strictly Ballroom (1992),104,4.028846,-0.037460
Everyone Says I Love You (1996),168,3.273810,-0.039651
Nikita (La Femme Nikita) (1990),127,4.007874,-0.040328
"Time to Kill, A (1996)",232,3.685345,-0.042790
Boogie Nights (1997),189,3.587302,-0.045660
Kolya (1996),117,3.991453,-0.048866
Henry V (1989),124,4.137097,-0.048877
"Devil's Advocate, The (1997)",188,3.515957,-0.051560
What's Eating Gilbert Grape (1993),115,3.539130,-0.060495
Alien 3 (1992),100,2.830000,-0.064746
Murder at 1600 (1997),218,3.087156,-0.064778
Jungle2Jungle (1997),132,2.439394,-0.070645
This Is Spinal Tap (1984),191,3.905759,-0.080796
Real Genius (1985),119,3.663866,-0.096105
Annie Hall (1977),180,3.911111,-0.100120
Seven Years in Tibet (1997),155,3.458065,-0.104329
"Remains of the Day, The (1993)",150,3.940000,-0.112067
In the Name of the Father (1993),102,3.911765,-0.119390
Little Women (1994),102,3.676471,-0.121053
Kiss the Girls (1997),143,3.461538,-0.122186
"Edge, The (1997)",113,3.539823,-0.127167
As Good As It Gets (1997),112,4.196429,-0.130466
Crash (1996),128,2.546875,-0.148507
G.I. Jane (1997),175,3.360000,-0.176734
"First Wives Club, The (1996)",160,3.018750,-0.194496

# Pick a User and Recommend movies to that user

In [71]:
userratings = movieratings.loc[0].dropna()
userratings

#we do not recomment he has watched and rating is low

title
Empire Strikes Back, The (1980)    5.0
Gone with the Wind (1939)          1.0
Star Wars (1977)                   5.0
Name: 0, dtype: float64

In [73]:
recommendations = df.drop(userratings.index)
recommendations.sort_values('similar', ascending = False)

#index is the title

,"(rating, size)","(rating, mean)",similar
title,,,
Return of the Jedi (1983),507,4.007890,0.672556
Raiders of the Lost Ark (1981),420,4.252381,0.536117
Austin Powers: International Man of Mystery (1997),130,3.246154,0.377433
"Sting, The (1973)",241,4.058091,0.367538
Indiana Jones and the Last Crusade (1989),331,3.930514,0.350107
Pinocchio (1940),101,3.673267,0.347868
"Frighteners, The (1996)",115,3.234783,0.332729
L.A. Confidential (1997),297,4.161616,0.319065
Wag the Dog (1997),137,3.510949,0.318645
Dumbo (1941),123,3.495935,0.317656
"Bridge on the River Kwai, The (1957)",165,4.175758,0.316580
"Philadelphia Story, The (1940)",104,4.115385,0.314272
Miracle on 34th Street (1994),101,3.722772,0.310921
E.T. the Extra-Terrestrial (1982),300,3.833333,0.303619
Mystery Science Theater 3000: The Movie (1996),130,3.430769,0.301809
Cinderella (1950),129,3.581395,0.299163
Batman (1989),201,3.427861,0.289344
Swingers (1996),157,3.828025,0.289310
Field of Dreams (1989),212,3.698113,0.285286
Gattaca (1997),136,3.595588,0.283005
Star Trek: The Wrath of Khan (1982),244,3.815574,0.282206
Back to the Future (1985),350,3.834286,0.274839
Snow White and the Seven Dwarfs (1937),172,3.709302,0.270346
"Wizard of Oz, The (1939)",246,4.077236,0.266335
"Firm, The (1993)",151,3.278146,0.265878
Jaws (1975),280,3.775000,0.265459
Beautiful Girls (1996),115,3.391304,0.265301
"Terminator, The (1984)",301,3.933555,0.262255
Star Trek: The Motion Picture (1979),117,3.034188,0.260654
"Princess Bride, The (1987)",324,4.172840,0.259711
...,...,...,...
"Ice Storm, The (1997)",108,3.611111,-0.023698
Carrie (1976),121,3.504132,-0.028377
Dead Man Walking (1995),299,3.896321,-0.034158
Ransom (1996),267,3.644195,-0.035184
Raging Bull (1980),116,4.120690,-0.035647
Strictly Ballroom (1992),104,4.028846,-0.037460
Everyone Says I Love You (1996),168,3.273810,-0.039651
Nikita (La Femme Nikita) (1990),127,4.007874,-0.040328
"Time to Kill, A (1996)",232,3.685345,-0.042790
Boogie Nights (1997),189,3.587302,-0.045660
Kolya (1996),117,3.991453,-0.048866
Henry V (1989),124,4.137097,-0.048877
"Devil's Advocate, The (1997)",188,3.515957,-0.051560
What's Eating Gilbert Grape (1993),115,3.539130,-0.060495
Alien 3 (1992),100,2.830000,-0.064746
Murder at 1600 (1997),218,3.087156,-0.064778
Jungle2Jungle (1997),132,2.439394,-0.070645
This Is Spinal Tap (1984),191,3.905759,-0.080796
Real Genius (1985),119,3.663866,-0.096105
Annie Hall (1977),180,3.911111,-0.100120
Seven Years in Tibet (1997),155,3.458065,-0.104329
"Remains of the Day, The (1993)",150,3.940000,-0.112067
In the Name of the Father (1993),102,3.911765,-0.119390
Little Women (1994),102,3.676471,-0.121053
Kiss the Girls (1997),143,3.461538,-0.122186
"Edge, The (1997)",113,3.539823,-0.127167
As Good As It Gets (1997),112,4.196429,-0.130466
Crash (1996),128,2.546875,-0.148507
G.I. Jane (1997),175,3.360000,-0.176734
"First Wives Club, The (1996)",160,3.018750,-0.194496